node-red/flows/triceratops-family/child-nice.json
[{"id":"e7c3a0d5.1a5b78","type":"tab","label":"Child-nice"},{"id":"c1532bc0.8d9578","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"33","set":"","level":"0","out":"out","x":300,"y":100,"wires":[]},{"id":"6f5f1735.f0edd","type":"inject","z":"e7c3a0d5.1a5b78","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["c1532bc0.8d9578"]]},{"id":"8ea98527.397b8","type":"comment","z":"e7c3a0d5.1a5b78","name":"Children subscribe to their parent","info":"","x":280,"y":200,"wires":[]},{"id":"317e278d.957c38","type":"comment","z":"e7c3a0d5.1a5b78","name":"Children may reproduce parents actions","info":"","x":640,"y":200,"wires":[]},{"id":"30a0bfb7.75ccb8","type":"mqtt in","z":"e7c3a0d5.1a5b78","name":"","topic":"dinosaurs/triceratops_family/parent","qos":"2","broker":"a92a93b9.fdfb38","x":280,"y":240,"wires":[["618f271d.b65ce"]]},{"id":"57e9677d.0d6868","type":"function","z":"e7c3a0d5.1a5b78","name":"Define Child","func":"msg.parentAction = msg.payload\n\n//store obedience threshold\n//if the random number is less than this, we'll\n//copy the action; otherwise we won't\nmsg.obedience = 90\n\nmsg.child = \"child-nice\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["88e4b2c0.4fed4"]]},{"id":"aea862a0.0db7d","type":"random","z":"e7c3a0d5.1a5b78","name":"","low":"0","high":"100","inte":"true","x":1000,"y":300,"wires":[["7b535343.c8939c","7d26e942.2d0a88"]]},{"id":"7b535343.c8939c","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"true","x":1130,"y":260,"wires":[]},{"id":"7d26e942.2d0a88","type":"switch","z":"e7c3a0d5.1a5b78","name":"Naughty or nice?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"obedience","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":360,"wires":[["62ddfcd0.3c93f4"],["86f1df56.558c2"]]},{"id":"62ddfcd0.3c93f4","type":"function","z":"e7c3a0d5.1a5b78","name":"Copy","func":"//do the same as the parent's action\nmsg.action = {\n    \"actions\": msg.parentAction.actions,\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":340,"wires":[["bcd296a4.a0c5f8"]]},{"id":"86f1df56.558c2","type":"function","z":"e7c3a0d5.1a5b78","name":"Don't copy","func":"// Sullenly does nothing\nmsg.action = {\n    \"actions\": [],\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["bcd296a4.a0c5f8"]]},{"id":"bcd296a4.a0c5f8","type":"function","z":"e7c3a0d5.1a5b78","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":360,"wires":[["e16641f4.5e537"]]},{"id":"80c52180.952ae","type":"inject","z":"e7c3a0d5.1a5b78","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["c1532bc0.8d9578"]]},{"id":"390ff9c2.fcfcbe","type":"comment","z":"e7c3a0d5.1a5b78","name":"Posts all actions to broker","info":"","x":1030,"y":800,"wires":[]},{"id":"1bfecc07.596bc4","type":"mqtt out","z":"e7c3a0d5.1a5b78","name":"","topic":"dinosaurs/triceratops_family/child-nice","qos":"","retain":"","broker":"79e0fd45.571514","x":1070,"y":880,"wires":[]},{"id":"c88e1b66.f38de","type":"function","z":"e7c3a0d5.1a5b78","name":"Create Message","func":"msg.payload = msg.action\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":880,"wires":[["1bfecc07.596bc4","6d92803f.97fb5"]]},{"id":"a96b71a2.002a3","type":"function","z":"e7c3a0d5.1a5b78","name":"Setup Actions","func":"\nlast_action = {\"action\": msg.action}\n\nflow.set(\"last_action\", last_action)\n\nmsg.current_action_index = 0\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":940,"wires":[["ed8a00ba.b3879","9948b9f2.9cf278"]]},{"id":"ed8a00ba.b3879","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"action","x":350,"y":880,"wires":[]},{"id":"9948b9f2.9cf278","type":"switch","z":"e7c3a0d5.1a5b78","name":"Done All Actions?","property":"current_action_index","propertyType":"msg","rules":[{"t":"gte","v":"action.actions.length","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":350,"y":940,"wires":[["c88e1b66.f38de"],["b23daabc.2cde98"]]},{"id":"d4b3cba.9e37938","type":"function","z":"e7c3a0d5.1a5b78","name":"Incrememnt Action Index","func":"msg.current_action_index += 1\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["608fc25.25d26bc"]]},{"id":"6d92803f.97fb5","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"true","x":970,"y":840,"wires":[]},{"id":"be06f46a.7d596","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"payload","x":750,"y":980,"wires":[]},{"id":"b23daabc.2cde98","type":"function","z":"e7c3a0d5.1a5b78","name":"Start Action","func":"msg.payload = msg.action.actions[msg.current_action_index]\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":980,"wires":[["be06f46a.7d596","10d79024.d99c3"]]},{"id":"607d26b7.95afc8","type":"function","z":"e7c3a0d5.1a5b78","name":"Finish Action","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1560,"wires":[["d4b3cba.9e37938"]]},{"id":"10d79024.d99c3","type":"switch","z":"e7c3a0d5.1a5b78","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"roar","vt":"str"},{"t":"eq","v":"raise_head","vt":"str"},{"t":"eq","v":"wag_tail","vt":"str"}],"checkall":"true","outputs":3,"x":530,"y":1160,"wires":[["59c7e674.fb756"],["551db958.fc0e58"],["2fc9276f.af6e8"]]},{"id":"4d2d10c2.361448","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"35","set":"","level":"0","out":"out","x":1120,"y":1040,"wires":[]},{"id":"46339d89.0c3ae4","type":"function","z":"e7c3a0d5.1a5b78","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1040,"wires":[["4d2d10c2.361448","156798d8.c8261f"]]},{"id":"156798d8.c8261f","type":"delay","z":"e7c3a0d5.1a5b78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1080,"wires":[["8c2e4d59.429e5"]]},{"id":"8c2e4d59.429e5","type":"function","z":"e7c3a0d5.1a5b78","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1120,"wires":[["d1a4e3e7.33db08","57e3efee.dbf56"]]},{"id":"d1a4e3e7.33db08","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"35","set":"","level":"0","out":"out","x":1120,"y":1120,"wires":[]},{"id":"59c7e674.fb756","type":"function","z":"e7c3a0d5.1a5b78","name":"Roar","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1040,"wires":[["46339d89.0c3ae4","fb42bff3.55e8a"]]},{"id":"57e3efee.dbf56","type":"function","z":"e7c3a0d5.1a5b78","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1080,"wires":[["607d26b7.95afc8"]]},{"id":"b9db5470.375128","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"33","set":"","level":"0","out":"out","x":1120,"y":1220,"wires":[]},{"id":"5d898eed.0a97e8","type":"function","z":"e7c3a0d5.1a5b78","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1220,"wires":[["b9db5470.375128","dc513ca3.75dc"]]},{"id":"dc513ca3.75dc","type":"delay","z":"e7c3a0d5.1a5b78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1260,"wires":[["f7d15ad2.f2d048","8fd1212.5cbcce"]]},{"id":"f7d15ad2.f2d048","type":"function","z":"e7c3a0d5.1a5b78","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1300,"wires":[["b97f5d4c.155a1"]]},{"id":"b97f5d4c.155a1","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"33","set":"","level":"0","out":"out","x":1120,"y":1300,"wires":[]},{"id":"551db958.fc0e58","type":"function","z":"e7c3a0d5.1a5b78","name":"Raise Head","func":"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1220,"wires":[["5d898eed.0a97e8","fe0d9ff6.1ca988"]]},{"id":"f333f2d5.df75a8","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"37","set":"","level":"0","out":"out","x":1120,"y":1400,"wires":[]},{"id":"38aef55d.ad012a","type":"function","z":"e7c3a0d5.1a5b78","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1400,"wires":[["f333f2d5.df75a8","6d5be596.823a94"]]},{"id":"6d5be596.823a94","type":"delay","z":"e7c3a0d5.1a5b78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1440,"wires":[["a61d2615.1e189"]]},{"id":"a61d2615.1e189","type":"function","z":"e7c3a0d5.1a5b78","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1480,"wires":[["e9867f7a.f3a28","10cd8fe9.fac408"]]},{"id":"e9867f7a.f3a28","type":"rpi-gpio out","z":"e7c3a0d5.1a5b78","name":"","pin":"37","set":"","level":"0","out":"out","x":1120,"y":1480,"wires":[]},{"id":"2fc9276f.af6e8","type":"function","z":"e7c3a0d5.1a5b78","name":"Wag Tail","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1400,"wires":[["38aef55d.ad012a","9e7e538.eb59db"]]},{"id":"8fd1212.5cbcce","type":"function","z":"e7c3a0d5.1a5b78","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1260,"wires":[["607d26b7.95afc8"]]},{"id":"10cd8fe9.fac408","type":"function","z":"e7c3a0d5.1a5b78","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1440,"wires":[["607d26b7.95afc8"]]},{"id":"fb42bff3.55e8a","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"false","x":970,"y":1000,"wires":[]},{"id":"fe0d9ff6.1ca988","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"false","x":970,"y":1180,"wires":[]},{"id":"9e7e538.eb59db","type":"debug","z":"e7c3a0d5.1a5b78","name":"","active":true,"console":"false","complete":"false","x":970,"y":1360,"wires":[]},{"id":"608fc25.25d26bc","type":"delay","z":"e7c3a0d5.1a5b78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1360,"wires":[["9948b9f2.9cf278"]]},{"id":"618f271d.b65ce","type":"json","z":"e7c3a0d5.1a5b78","name":"","x":510,"y":240,"wires":[["57e9677d.0d6868"]]},{"id":"88e4b2c0.4fed4","type":"switch","z":"e7c3a0d5.1a5b78","name":"Expectation","property":"parentAction.expectation","propertyType":"msg","rules":[{"t":"eq","v":"simon_says","vt":"str"},{"t":"eq","v":"call_and_answer","vt":"str"},{"t":"eq","v":"shut_up","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","outputs":4,"x":450,"y":360,"wires":[["aac7dbb4.6e4958"],["8466f27c.10a4b8"],["f4dfc8b8.97f268"],["31a84ae6.40b6a6"]]},{"id":"aac7dbb4.6e4958","type":"function","z":"e7c3a0d5.1a5b78","name":"Simon Says","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["aea862a0.0db7d"]]},{"id":"8466f27c.10a4b8","type":"function","z":"e7c3a0d5.1a5b78","name":"Call and Answer","func":"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["ffae8536.05eed"]]},{"id":"f4dfc8b8.97f268","type":"function","z":"e7c3a0d5.1a5b78","name":"Shut Up","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[[]]},{"id":"31a84ae6.40b6a6","type":"function","z":"e7c3a0d5.1a5b78","name":"None","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[[]]},{"id":"e16641f4.5e537","type":"function","z":"e7c3a0d5.1a5b78","name":"Parsed","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":720,"wires":[["a96b71a2.002a3"]]},{"id":"ffae8536.05eed","type":"function","z":"e7c3a0d5.1a5b78","name":"Set Action","func":"msg.action = {\n    \"actions\": [{\"type\": \"roar\"}],\n    \"expectation\": \"none\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":460,"wires":[["291faaff.f9fa86"]]},{"id":"291faaff.f9fa86","type":"function","z":"e7c3a0d5.1a5b78","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":460,"wires":[["e16641f4.5e537"]]},{"id":"a92a93b9.fdfb38","type":"mqtt-broker","z":"","broker":"192.168.43.44","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"79e0fd45.571514","type":"mqtt-broker","z":"","broker":"192.168.43.44","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
