node-red/flows/triceratops-family/child-scamp.json
[{"id":"1033dfbb.c6c04","type":"tab","label":"Child-scamp"},{"id":"8af52ff3.ee30e8","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"33","set":"","level":"0","out":"out","x":300,"y":100,"wires":[]},{"id":"ab8e1d13.2ccbf","type":"inject","z":"1033dfbb.c6c04","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["8af52ff3.ee30e8"]]},{"id":"2a0477b6.8c29b","type":"comment","z":"1033dfbb.c6c04","name":"Children subscribe to their parent","info":"","x":280,"y":200,"wires":[]},{"id":"169d2785.61e6a8","type":"comment","z":"1033dfbb.c6c04","name":"Children may reproduce parents actions","info":"","x":640,"y":200,"wires":[]},{"id":"fd8703c9.01d64","type":"mqtt in","z":"1033dfbb.c6c04","name":"","topic":"dinosaurs/triceratops_family/parent","qos":"2","broker":"36cd0eaa.ac40ca","x":280,"y":240,"wires":[["99b07078.d4ab2"]]},{"id":"22ebc6bd.967a9a","type":"function","z":"1033dfbb.c6c04","name":"Define Child","func":"msg.parentAction = msg.payload\n\n//store obedience threshold\n//if the random number is less than this, we'll\n//copy the action; otherwise we won't\nmsg.obedience = 50\n\nmsg.child = \"child-scamp\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["51f011d6.4af3c"]]},{"id":"c98b7f2d.cf651","type":"random","z":"1033dfbb.c6c04","name":"","low":"0","high":"100","inte":"true","x":1000,"y":300,"wires":[["7945a1ca.8fec","1c161681.ae3c11"]]},{"id":"7945a1ca.8fec","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"true","x":1130,"y":260,"wires":[]},{"id":"1c161681.ae3c11","type":"switch","z":"1033dfbb.c6c04","name":"Naughty or nice?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"obedience","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":360,"wires":[["88eef4bb.f0311"],["2b4ef6dc.1f877a"]]},{"id":"88eef4bb.f0311","type":"function","z":"1033dfbb.c6c04","name":"Copy","func":"//do the same as the parent's action\nmsg.action = {\n    \"actions\": msg.parentAction.actions,\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":340,"wires":[["fca4fea7.12ad28"]]},{"id":"2b4ef6dc.1f877a","type":"function","z":"1033dfbb.c6c04","name":"Don't copy","func":"// Sullenly does nothing\nmsg.action = {\n    \"actions\": [],\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["fca4fea7.12ad28"]]},{"id":"fca4fea7.12ad28","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":360,"wires":[["c202a5df.d4351"]]},{"id":"67d54f21.773a98","type":"inject","z":"1033dfbb.c6c04","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["8af52ff3.ee30e8"]]},{"id":"c74e03f8.5444f","type":"comment","z":"1033dfbb.c6c04","name":"Posts all actions to broker","info":"","x":1030,"y":800,"wires":[]},{"id":"4f582ace.1cf55c","type":"mqtt out","z":"1033dfbb.c6c04","name":"","topic":"dinosaurs/triceratops_family/child-scamp","qos":"","retain":"","broker":"d05dda1.99a80a8","x":1080,"y":880,"wires":[]},{"id":"8673d83f.8d9b68","type":"function","z":"1033dfbb.c6c04","name":"Create Message","func":"msg.payload = msg.action\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":880,"wires":[["4f582ace.1cf55c","c5af3b7b.937a2"]]},{"id":"cf563a6d.157608","type":"function","z":"1033dfbb.c6c04","name":"Setup Actions","func":"\nlast_action = {\"action\": msg.action}\n\nflow.set(\"last_action\", last_action)\n\nmsg.current_action_index = 0\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":940,"wires":[["6a2f9eb3.31ac58","43f55d57.776b3c"]]},{"id":"6a2f9eb3.31ac58","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"action","x":350,"y":880,"wires":[]},{"id":"43f55d57.776b3c","type":"switch","z":"1033dfbb.c6c04","name":"Done All Actions?","property":"current_action_index","propertyType":"msg","rules":[{"t":"gte","v":"action.actions.length","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":350,"y":940,"wires":[["8673d83f.8d9b68"],["1c5f9163.4c4d47"]]},{"id":"31426206.cb12ee","type":"function","z":"1033dfbb.c6c04","name":"Incrememnt Action Index","func":"msg.current_action_index += 1\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["e22c5cec.d2fe4"]]},{"id":"c5af3b7b.937a2","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"true","x":970,"y":840,"wires":[]},{"id":"95976737.eed97","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"payload","x":750,"y":980,"wires":[]},{"id":"1c5f9163.4c4d47","type":"function","z":"1033dfbb.c6c04","name":"Start Action","func":"msg.payload = msg.action.actions[msg.current_action_index]\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":980,"wires":[["95976737.eed97","96243982.e60e7"]]},{"id":"e3978e43.f17c58","type":"function","z":"1033dfbb.c6c04","name":"Finish Action","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1560,"wires":[["31426206.cb12ee"]]},{"id":"96243982.e60e7","type":"switch","z":"1033dfbb.c6c04","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"roar","vt":"str"},{"t":"eq","v":"raise_head","vt":"str"},{"t":"eq","v":"wag_tail","vt":"str"}],"checkall":"true","outputs":3,"x":530,"y":1160,"wires":[["620e7c39.829604"],["e96a6feb.0c8a68"],["6e2c96cb.308408"]]},{"id":"d2b775d6.6d9818","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"35","set":"","level":"0","out":"out","x":1120,"y":1040,"wires":[]},{"id":"fc0c538f.fb9ee","type":"function","z":"1033dfbb.c6c04","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1040,"wires":[["d2b775d6.6d9818","34ec1e25.38c19a"]]},{"id":"34ec1e25.38c19a","type":"delay","z":"1033dfbb.c6c04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1080,"wires":[["30111c5.dfb0ce4"]]},{"id":"30111c5.dfb0ce4","type":"function","z":"1033dfbb.c6c04","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1120,"wires":[["be1acf02.9a619","20781a2f.9fded6"]]},{"id":"be1acf02.9a619","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"35","set":"","level":"0","out":"out","x":1120,"y":1120,"wires":[]},{"id":"620e7c39.829604","type":"function","z":"1033dfbb.c6c04","name":"Roar","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1040,"wires":[["fc0c538f.fb9ee","c898dc5b.09edf"]]},{"id":"20781a2f.9fded6","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1080,"wires":[["e3978e43.f17c58"]]},{"id":"e0f5cfd9.a8c398","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"33","set":"","level":"0","out":"out","x":1120,"y":1220,"wires":[]},{"id":"66e285a7.186b5c","type":"function","z":"1033dfbb.c6c04","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1220,"wires":[["e0f5cfd9.a8c398","997c5297.2c726"]]},{"id":"997c5297.2c726","type":"delay","z":"1033dfbb.c6c04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1260,"wires":[["4dc0415a.83bf88","f1891287.c85728"]]},{"id":"4dc0415a.83bf88","type":"function","z":"1033dfbb.c6c04","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1300,"wires":[["e12ec30c.3ef398"]]},{"id":"e12ec30c.3ef398","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"33","set":"","level":"0","out":"out","x":1120,"y":1300,"wires":[]},{"id":"e96a6feb.0c8a68","type":"function","z":"1033dfbb.c6c04","name":"Raise Head","func":"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1220,"wires":[["66e285a7.186b5c","94044781.e7d72"]]},{"id":"961e1f03.032d28","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"37","set":"","level":"0","out":"out","x":1120,"y":1400,"wires":[]},{"id":"cf80a8f7.b6a548","type":"function","z":"1033dfbb.c6c04","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1400,"wires":[["961e1f03.032d28","bbbb14ce.129e5"]]},{"id":"bbbb14ce.129e5","type":"delay","z":"1033dfbb.c6c04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1440,"wires":[["7a390ee4.a9e988"]]},{"id":"7a390ee4.a9e988","type":"function","z":"1033dfbb.c6c04","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1480,"wires":[["652287ab.8b88c","e98acbc8.77bde8"]]},{"id":"652287ab.8b88c","type":"rpi-gpio out","z":"1033dfbb.c6c04","name":"","pin":"37","set":"","level":"0","out":"out","x":1120,"y":1480,"wires":[]},{"id":"6e2c96cb.308408","type":"function","z":"1033dfbb.c6c04","name":"Wag Tail","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1400,"wires":[["cf80a8f7.b6a548","ba91049a.3930a8"]]},{"id":"f1891287.c85728","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1260,"wires":[["e3978e43.f17c58"]]},{"id":"e98acbc8.77bde8","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1440,"wires":[["e3978e43.f17c58"]]},{"id":"c898dc5b.09edf","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"false","x":970,"y":1000,"wires":[]},{"id":"94044781.e7d72","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"false","x":970,"y":1180,"wires":[]},{"id":"ba91049a.3930a8","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"false","x":970,"y":1360,"wires":[]},{"id":"e22c5cec.d2fe4","type":"delay","z":"1033dfbb.c6c04","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1360,"wires":[["43f55d57.776b3c"]]},{"id":"99b07078.d4ab2","type":"json","z":"1033dfbb.c6c04","name":"","x":510,"y":240,"wires":[["22ebc6bd.967a9a"]]},{"id":"51f011d6.4af3c","type":"switch","z":"1033dfbb.c6c04","name":"Expectation","property":"parentAction.expectation","propertyType":"msg","rules":[{"t":"eq","v":"simon_says","vt":"str"},{"t":"eq","v":"call_and_answer","vt":"str"},{"t":"eq","v":"shut_up","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","outputs":4,"x":450,"y":360,"wires":[["dc09c63d.e3078"],["652cb01f.128418"],["6ba628d3.cc193"],["d4d6e413.7906d"]]},{"id":"dc09c63d.e3078","type":"function","z":"1033dfbb.c6c04","name":"Simon Says","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["c98b7f2d.cf651"]]},{"id":"652cb01f.128418","type":"function","z":"1033dfbb.c6c04","name":"Call and Answer","func":"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["e8a53b50.e8b588"]]},{"id":"6ba628d3.cc193","type":"function","z":"1033dfbb.c6c04","name":"Shut Up","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[[]]},{"id":"d4d6e413.7906d","type":"function","z":"1033dfbb.c6c04","name":"None","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[[]]},{"id":"c202a5df.d4351","type":"function","z":"1033dfbb.c6c04","name":"Parsed","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":720,"wires":[["cf563a6d.157608"]]},{"id":"e8a53b50.e8b588","type":"function","z":"1033dfbb.c6c04","name":"Set Action","func":"msg.action = {\n    \"actions\": [{\"type\": \"roar\"}],\n    \"expectation\": \"none\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":460,"wires":[["17473d9a.016aa2"]]},{"id":"17473d9a.016aa2","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":460,"wires":[["c202a5df.d4351"]]},{"id":"a273f39.99a589","type":"inject","z":"1033dfbb.c6c04","name":"Random Action Loop Starter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":2000,"y":380,"wires":[["f23283dd.fdabd"]]},{"id":"68e357be.d544b8","type":"delay","z":"1033dfbb.c6c04","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3000,"y":540,"wires":[["ac4d7b67.7fb1a"]]},{"id":"f23283dd.fdabd","type":"function","z":"1033dfbb.c6c04","name":"Start","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":380,"wires":[["68a0ae6a.08e5a8"]]},{"id":"ac4d7b67.7fb1a","type":"function","z":"1033dfbb.c6c04","name":"Finish","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":640,"wires":[["f23283dd.fdabd"]]},{"id":"68a0ae6a.08e5a8","type":"random","z":"1033dfbb.c6c04","name":"","low":"1","high":"6","inte":"true","x":2420,"y":380,"wires":[["47562c7d.886704","90d9b76b.c3a058"]]},{"id":"47562c7d.886704","type":"switch","z":"1033dfbb.c6c04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","outputs":6,"x":2550,"y":380,"wires":[["af9322a2.0b1a58"],["e6865938.9aefa8"],["63ea0450.949db4"],["ad67ff39.10e78"],["ad67ff39.10e78"],["ad67ff39.10e78"]]},{"id":"ad67ff39.10e78","type":"function","z":"1033dfbb.c6c04","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":440,"wires":[["68e357be.d544b8"]]},{"id":"af9322a2.0b1a58","type":"function","z":"1033dfbb.c6c04","name":"Roar","func":"msg.action = {\n    \"actions\": [{\"type\": \"roar\"}],\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":300,"wires":[["1b6639fd.37507e","ad67ff39.10e78"]]},{"id":"e6865938.9aefa8","type":"function","z":"1033dfbb.c6c04","name":"Raise Head","func":"msg.action = {\n    \"actions\": [{\"type\": \"raise_head\"}],\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":340,"wires":[["1b6639fd.37507e","ad67ff39.10e78"]]},{"id":"63ea0450.949db4","type":"function","z":"1033dfbb.c6c04","name":"Wag Tail","func":"msg.action = {\n    \"actions\": [{\"type\": \"wag_tail\"}],\n    \"expectation\": \"none\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2780,"y":380,"wires":[["1b6639fd.37507e","ad67ff39.10e78"]]},{"id":"1b6639fd.37507e","type":"function","z":"1033dfbb.c6c04","name":"Do Action","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3040,"y":340,"wires":[["cf563a6d.157608"]]},{"id":"90d9b76b.c3a058","type":"debug","z":"1033dfbb.c6c04","name":"","active":true,"console":"false","complete":"false","x":2580,"y":280,"wires":[]},{"id":"36cd0eaa.ac40ca","type":"mqtt-broker","z":"","broker":"192.168.43.44","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d05dda1.99a80a8","type":"mqtt-broker","z":"","broker":"192.168.43.44","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
