node-red/flows/triceratops-family/parent.json
[{"id":"8b678f1c.3a9618","type":"tab","label":"Parent"},{"id":"d28b3647.020388","type":"comment","z":"8b678f1c.3a9618","name":"Perform a single action, expectation: none","info":"","x":220,"y":160,"wires":[]},{"id":"9101bd9c.9d42f8","type":"comment","z":"8b678f1c.3a9618","name":"Posts all actions to broker","info":"","x":1550,"y":80,"wires":[]},{"id":"a2400f40.ff12d8","type":"comment","z":"8b678f1c.3a9618","name":"Parent subscribes to all family's actions","info":"","x":230,"y":900,"wires":[]},{"id":"59a6d.d46ba5934","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"wag_tail","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["d4156ef6.1fa308"]]},{"id":"bcd9d000.f24a7","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"roar","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["d4156ef6.1fa308"]]},{"id":"91738584.d578b8","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"raise_head","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":260,"wires":[["d4156ef6.1fa308"]]},{"id":"d4156ef6.1fa308","type":"function","z":"8b678f1c.3a9618","name":"Define Action","func":"\n// Create action consisting of a single action\nmsg.action = {\n    \"actions\": [{\"type\": msg.payload}],\n    \"expectation\": \"none\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["f601236a.5475e"]]},{"id":"77d335af.138784","type":"mqtt out","z":"8b678f1c.3a9618","name":"","topic":"dinosaurs/triceratops_family/parent","qos":"","retain":"","broker":"e67535ac.8b66a8","x":1580,"y":160,"wires":[]},{"id":"29e3aeb7.a750ea","type":"mqtt in","z":"8b678f1c.3a9618","name":"","topic":"dinosaurs/triceratops_family/+","qos":"2","broker":"e67535ac.8b66a8","x":200,"y":940,"wires":[["f1204598.21ed7"]]},{"id":"887cbf1c.ea01a8","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"false","x":590,"y":920,"wires":[]},{"id":"f0d7f3b1.ebdd5","type":"function","z":"8b678f1c.3a9618","name":"","func":"\nmsg.last_actions = flow.get(\"last_actions\")\n//compare observed behaviour with parent's last action.\nif (msg.payload.actions.length == msg.last_actions.length) {\n    msg.payload = \"good\"\n} else {\n    msg.payload = \"bad\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1000,"wires":[["d75c21d1.483ad","eb149b2c.b4505","1cc528c9.4d7adf"]]},{"id":"d75c21d1.483ad","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"true","x":770,"y":920,"wires":[]},{"id":"bd72a8f6.4d0d5","type":"function","z":"8b678f1c.3a9618","name":"Filter out parent","func":"msg.parts = msg.topic.split(\"/\")\n\nmsg.familymember = msg.parts[2]\n\n//return nothing unless it's a child\nif (msg.familymember.indexOf(\"child\") === 0) {\n    return msg\n}\n\nreturn undefined;","outputs":1,"noerr":0,"x":460,"y":1000,"wires":[["f0d7f3b1.ebdd5","887cbf1c.ea01a8"]]},{"id":"eb149b2c.b4505","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"false","x":790,"y":960,"wires":[]},{"id":"bb66de5.f000fa","type":"function","z":"8b678f1c.3a9618","name":"Create Message","func":"msg.payload = msg.action\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":160,"wires":[["77d335af.138784","94a0da7b.72715"]]},{"id":"c3477e2a.8076b","type":"comment","z":"8b678f1c.3a9618","name":"Actions","info":"\nSample action message\n```\n{\n    \"action\": [{\"type\": \"wag_tail\"}],\n    \"expectation\": \"call_and_answer\"\n}\n```\n\nList of actions\n\n- wag_tail\n- roar\n- raise_head\n- jaws_open_close\n\nList of expectations\n\n- call_and_answer\n- simon_says\n- shut_up\n- none\n","x":470,"y":160,"wires":[]},{"id":"7bccc052.ea8c","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"roar","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["5bfbce29.2c21e8"]]},{"id":"ea0b682f.0dfb68","type":"comment","z":"8b678f1c.3a9618","name":"Perform a single action, expectation: call_and_answer","info":"","x":260,"y":360,"wires":[]},{"id":"57448841.cd9748","type":"comment","z":"8b678f1c.3a9618","name":"Perform an action, expectation: simon_says","info":"","x":230,"y":480,"wires":[]},{"id":"848e2d67.4af62","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"wag_tail","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":540,"wires":[["5730859d.53efa4"]]},{"id":"d794af4.9ca7d5","type":"comment","z":"8b678f1c.3a9618","name":"Perform a set of action, expectation: simon_says","info":"","x":240,"y":600,"wires":[]},{"id":"ed7c79ae.93126","type":"inject","z":"8b678f1c.3a9618","name":"wag_tail + raise_head + roar","topic":"","payload":"wag_tail,raise_head,roar","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["8f32266.ebf4958"]]},{"id":"5bfbce29.2c21e8","type":"function","z":"8b678f1c.3a9618","name":"Define Action","func":"\n// Create action consisting of a single action\nmsg.action = {\n    \"actions\": [{\"type\": msg.payload}],\n    \"expectation\": \"call_and_answer\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["f601236a.5475e"]]},{"id":"5730859d.53efa4","type":"function","z":"8b678f1c.3a9618","name":"Define Action","func":"\n// Create action consisting of a single action\nmsg.action = {\n    \"actions\": [{\"type\": msg.payload}],\n    \"expectation\": \"simon_says\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["f601236a.5475e"]]},{"id":"8f32266.ebf4958","type":"function","z":"8b678f1c.3a9618","name":"Define Action","func":"\n// Create action consisting of a single action\n\nactions = msg.payload.split(\",\")\n\naction_array = []\nfor (i=0; i< actions.length; i++) {\n    action_array.push({\"type\": actions[i]})\n}\n\nmsg.action = {\n    \"actions\": action_array,\n    \"expectation\": \"simon_says\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[["f601236a.5475e"]]},{"id":"f601236a.5475e","type":"function","z":"8b678f1c.3a9618","name":"Setup Actions","func":"\nif (msg.action.expectation == \"simon_says\") {\n    flow.set(\"last_actions\", msg.action.actions)\n}\n\nmsg.current_action_index = 0\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["1a91636c.0bf6bd","a7509747.dd9708"]]},{"id":"1a91636c.0bf6bd","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"action","x":870,"y":160,"wires":[]},{"id":"a7509747.dd9708","type":"switch","z":"8b678f1c.3a9618","name":"Done All Actions?","property":"current_action_index","propertyType":"msg","rules":[{"t":"gte","v":"action.actions.length","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":870,"y":220,"wires":[["bb66de5.f000fa"],["5feddcc4.24def4"]]},{"id":"a01da07b.c14998","type":"function","z":"8b678f1c.3a9618","name":"Incrememnt Action Index","func":"msg.current_action_index += 1\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":720,"wires":[["603bb3d8.527344"]]},{"id":"94a0da7b.72715","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"true","x":1490,"y":120,"wires":[]},{"id":"b0f87ba4.568c78","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"payload","x":1270,"y":260,"wires":[]},{"id":"5feddcc4.24def4","type":"function","z":"8b678f1c.3a9618","name":"Start Action","func":"msg.payload = msg.action.actions[msg.current_action_index]\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[["b0f87ba4.568c78","c7dce8e6.d4fe28"]]},{"id":"db6c3666.03bb88","type":"function","z":"8b678f1c.3a9618","name":"Finish Action","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":840,"wires":[["a01da07b.c14998"]]},{"id":"c7dce8e6.d4fe28","type":"switch","z":"8b678f1c.3a9618","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"roar","vt":"str"},{"t":"eq","v":"raise_head","vt":"str"},{"t":"eq","v":"wag_tail","vt":"str"}],"checkall":"true","outputs":3,"x":1050,"y":440,"wires":[["8abc6af2.fa049"],["58d33a30.834e3c"],["8307424a.ca128"]]},{"id":"3d0a63b3.a1381c","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"35","set":"","level":"0","out":"out","x":1640,"y":320,"wires":[]},{"id":"269bd44.7b922ac","type":"function","z":"8b678f1c.3a9618","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":320,"wires":[["3d0a63b3.a1381c","ea39e21f.123d28"]]},{"id":"ea39e21f.123d28","type":"delay","z":"8b678f1c.3a9618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":360,"wires":[["85a0f6eb.c3f71"]]},{"id":"85a0f6eb.c3f71","type":"function","z":"8b678f1c.3a9618","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":400,"wires":[["8a22fdc6.8ceb38","f3b6b58f.8e3a8"]]},{"id":"8a22fdc6.8ceb38","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"35","set":"","level":"0","out":"out","x":1640,"y":400,"wires":[]},{"id":"8abc6af2.fa049","type":"function","z":"8b678f1c.3a9618","name":"Roar","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":320,"wires":[["269bd44.7b922ac","ccfde633.354eb"]]},{"id":"f3b6b58f.8e3a8","type":"function","z":"8b678f1c.3a9618","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":360,"wires":[["db6c3666.03bb88"]]},{"id":"dde5d6a8.36bd9","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"33","set":"","level":"0","out":"out","x":1640,"y":500,"wires":[]},{"id":"215d9307.1aee3c","type":"function","z":"8b678f1c.3a9618","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":500,"wires":[["dde5d6a8.36bd9","a71e0302.e5a428"]]},{"id":"a71e0302.e5a428","type":"delay","z":"8b678f1c.3a9618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":540,"wires":[["2dfdcaa3.0e08a6","e4aaf39e.3cdac8"]]},{"id":"2dfdcaa3.0e08a6","type":"function","z":"8b678f1c.3a9618","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":580,"wires":[["2184d284.79318e"]]},{"id":"2184d284.79318e","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"33","set":"","level":"0","out":"out","x":1640,"y":580,"wires":[]},{"id":"58d33a30.834e3c","type":"function","z":"8b678f1c.3a9618","name":"Raise Head","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":500,"wires":[["215d9307.1aee3c","4363611b.39755"]]},{"id":"746fcb.09768834","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"37","set":"","level":"0","out":"out","x":1640,"y":680,"wires":[]},{"id":"8f3b2fa1.a26ab","type":"function","z":"8b678f1c.3a9618","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":680,"wires":[["746fcb.09768834","add21193.d53618"]]},{"id":"add21193.d53618","type":"delay","z":"8b678f1c.3a9618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":720,"wires":[["ebeaca34.1137e"]]},{"id":"ebeaca34.1137e","type":"function","z":"8b678f1c.3a9618","name":"Off","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":760,"wires":[["9469fa11.f008d8","81f451c9.faca58"]]},{"id":"9469fa11.f008d8","type":"rpi-gpio out","z":"8b678f1c.3a9618","name":"","pin":"37","set":"","level":"0","out":"out","x":1640,"y":760,"wires":[]},{"id":"8307424a.ca128","type":"function","z":"8b678f1c.3a9618","name":"Wag Tail","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":680,"wires":[["8f3b2fa1.a26ab","d2373498.ea1798"]]},{"id":"e4aaf39e.3cdac8","type":"function","z":"8b678f1c.3a9618","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":540,"wires":[["db6c3666.03bb88"]]},{"id":"81f451c9.faca58","type":"function","z":"8b678f1c.3a9618","name":"Done","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":720,"wires":[["db6c3666.03bb88"]]},{"id":"ccfde633.354eb","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"false","x":1490,"y":280,"wires":[]},{"id":"4363611b.39755","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"false","x":1490,"y":460,"wires":[]},{"id":"d2373498.ea1798","type":"debug","z":"8b678f1c.3a9618","name":"","active":true,"console":"false","complete":"false","x":1490,"y":640,"wires":[]},{"id":"603bb3d8.527344","type":"delay","z":"8b678f1c.3a9618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":640,"wires":[["a7509747.dd9708"]]},{"id":"387c58db.02bc68","type":"inject","z":"8b678f1c.3a9618","name":"","topic":"","payload":"wag_tail","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["5bfbce29.2c21e8"]]},{"id":"f1204598.21ed7","type":"json","z":"8b678f1c.3a9618","name":"","x":270,"y":1000,"wires":[["bd72a8f6.4d0d5"]]},{"id":"1cc528c9.4d7adf","type":"switch","z":"8b678f1c.3a9618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"good","vt":"str"},{"t":"eq","v":"bad","vt":"str"}],"checkall":"true","outputs":2,"x":770,"y":1000,"wires":[["8b112139.ccd2c"],["da23c592.2cc9a8"]]},{"id":"8b112139.ccd2c","type":"function","z":"8b678f1c.3a9618","name":"Wag Tail","func":"\n// Create action consisting of a single action\nmsg.action = {\n    \"actions\": [{\"type\": \"wag_tail\"}],\n    \"expectation\": \"none\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":980,"wires":[["f45c9a34.c0045"]]},{"id":"da23c592.2cc9a8","type":"function","z":"8b678f1c.3a9618","name":"Roar","func":"\n// Create action consisting of a single action\nmsg.action = {\n    \"actions\": [{\"type\": \"roar\"}],\n    \"expectation\": \"none\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1020,"wires":[["f45c9a34.c0045"]]},{"id":"f45c9a34.c0045","type":"function","z":"8b678f1c.3a9618","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":780,"wires":[["f601236a.5475e"]]},{"id":"e67535ac.8b66a8","type":"mqtt-broker","z":"","broker":"192.168.43.44","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
